body {
    justify-content: center;

    max-width: 1400px;
    min-width: 400px;
    margin: auto;
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    /* Light background */
    color: #333;
    /* Dark text color for contrast */
    line-height: 1.6;
    padding: 20px;

}

header {
    background-color: #ffffff;
    /* White background for header */
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* Light shadow */
    border-radius: 8px;
    margin-bottom: 20px;
}

header h1 {
    font-size: 2.5rem;
    color: #333;
}

main {
    background-color: #ffffff;
    /* White background for the main content */
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* Soft shadow for depth */
    margin-bottom: 20px;
}

main p {
    font-size: 1.1rem;
    color: #666;
    /* Lighter color for text */
}

/* Footer styling */
footer {
    background-color: #ffffff;
    /* White background for footer */
    padding: 10px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

footer p {
    font-size: 1rem;
    color: #999;
    /* Light color for footer text */
}

h1 {
    text-align: center;
    margin: 0px;
}

h2 {
    color: #333;
    text-align: lef;
}

.grid-container {
    display: flex;
    flex-direction: column;
    max-width: 1400px;
    margin: auto;
    padding-top: 20px;

    display: grid;
    grid-template-columns: repeat(2, minmax(150px, 1fr));
    gap: 20px;
    /* Space between items */
    justify-content: center;
}


.grid-container a img {
    width: 100%;
    height: auto;
    border-radius: px;
    transition: transform 0.2s ease-in-out;
}

.grid-container a img:hover {
    transform: scale(1.05);
    transform: scale(1.2) rotate(10deg);
}


form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

label {
    margin-top: 10px;
    font-weight: bold;
    color: #555;
}

input,
textarea {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    width: auto;
}

textarea:focus {
    border-color: #66afe9;
    outline: none;
    box-shadow: 0 0 8px rgba(102, 175, 233, 0.6);
}

textarea {
    height: 200px;

}

button {
    margin-top: 20px;
    padding: 12px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0ddf17;
}

@media (max-width: 800px) {

    .grid-container {
        grid-template-columns: 1fr;
    }

    form {
        padding: 15px;
    }

    input,
    textarea {
        font-size: 14px;
    }

    button {
        font-size: 14px;
    }
}